#detail-div
{
    float:left;
    width:340px;
    /*border:1px solid  #eff1f4;*/
    margin-top:15px;
    padding: 110px 0px;
    background-color:#eff1f4;
    border-radius:3px;
    margin-left:15px;
    opacity:1px;
}

#menu-button-div
{
    margin-top:20px;
    /*border:1px solid black;*/
}

#detail-div div
{
    /*border:1px solid  #a16761;*/
    border-radius:3px;
    text-align:left;
    height:40px;
    width:340px;
    background-color:#a16761;
    margin-top:1px;
}

.iddiv {
    margin-top:110px;
}

#detail-div div p
{
    display:inline;
    font-size:16px;
    /*background-color:green;*/
}

button
{
    border:1px solid #994540;
    background-color:#994540;
    width:200px;
    height:40px;
    color:white;
    font-size:16px;
    border-radius:6px;
}

button#overview:hover,button#issue_bill:hover,button#billing-button:hover,#prev:hover,#next:hover
{
    border:1px solid #7b1515;
    background-color:#7b1515;
    width:200px;
    height:40px;
    color:white;
    font-size:16px;
    border-radius:10px;
}

button#username
{
    position:relative;
    right:250px;
}


/* this part is made for issued_bill section*/

.resource-select-div
{
    margin-top:30px;
    /*border:1px solid black;*/
}

#resource-select
{
    position:relative;
    background-color: #994540;
    right:296px;
    width:180px;
    color:white;
    margin-top:6px;
    border:4px solid #994540;
    border-radius:6px;
    height:40px;
    outline:0px;
    right:158px;
}


#resource-year
{
    position:relative;
    background-color: #994540;
    width:180px;
    color:white;
    right:50px;
    margin-top:6px;
    border:4px solid #994540;
    border-radius:6px;
    height:40px;
    display:inline;
    outline:0px;
}

option
{
    background-color:white;
    color:black;
    font-size:16px;
}

#billing-div
{
    width:1080px;
    height:500px;
    margin-top:15px;
    /*border:1px solid black;*/
    margin-left:380px;
}

table
{
    /*margin-top:15px;*/
    /*margin-bottom:10px;*/
    width:1080px;
    /*height:500px;*/
    border-collapse:collapse;
}

th
{
    padding-top:40px;
    padding-left:18px;
    padding-right:18px;
    padding-bottom:5px;
    background-color: #703636;
    color:white;
    font-size:14px;
    
}

th:first-child
{
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
}

th:last-child
{
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
}

tr:nth-child(even)
{
    background-color: #994540;
}

tr:nth-child(odd)
{
    background-color: #e9cbb5;
}

tr td:first-child
{
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
}

tr td:last-child
{
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
}


td
{
    padding:10px;
    color:white;
    font-size:14px;
    text-align:center;
}

button#billing-button
{
    border:1px solid #994540;
    background-color:#994540;
    margin-left:30px;
    width:200px;
    height:40px;
    color:white;
    font-size:16px;
    border-radius:6px;
}

button#billing-button:hover
{
    border:1px solid #7b1515;
    background-color:#7b1515;
    width:200px;
    height:40px;
    color:white;
    font-size:16px;
    border-radius:10px;
}

#next
{
    position:relative;
    top:15px;
    left:16px;
    visibility:hidden;
}
#prev
{
    position:relative;
    right:85px;
    top:15px;
    visibility:hidden;
}

#prev:hover
{
    background-color:#e9cbb5;
    border:2px solid #e9cbb5;
    border-radius:6px;
}

#next:hover
{
    background-color:#e9cbb5;
    border:2px solid #e9cbb5;
    border-radius:6px;
}




